
<header class="d-flex flex-wrap align-items-center justify-content-between py-1 mb-2 fixed-top">
  <div class="col-md-2 mb-2 mb-md-0">
      <a class="d-inline-flex link-body-emphasid text-decoration-none">
          <img class="brand-logo-light" src="{{ url_for('static', filename='img/logo.png')}}" alt="imagem_logo" />
      </a>
  </div>
  <div class="hamburger-menu">
      <span>&#9776;</span>
  </div>
  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 content_links">
      <li><a href="#" class="nav-link px-2 ">Home</a></li>
      <li><a href="#" class="nav-link px-2">Features</a></li>
      <li><a href="#" class="nav-link px-2">Pricing</a></li>
      <li><a href="#" class="nav-link px-2">FAQs</a></li>
      <li><a href="#" class="nav-link px-2">About</a></li>
  </ul>
  <div class="col-md-2 text-end content_buttons">
      <button type="button" class="button_login"><a href="Login">Login</a></button>
      <button type="button" class="button_Sign-up"><a href="Sign-up">Sign-up</a></button>
  </div>
</header>
