:root {
    --primary-color: #2C3E50;
    --secondary-color: #ECF0F1;
    --accent-color: #E74C3C;
    --light-neutral-color: #FFFFFF;
    --dark-neutral-color: #34495E;
    --success-color: #27AE60;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 1030;
    top: 0;
    background-color: var(--secondary-color);
    border-bottom: 1px solid #dee2e6;
    padding: 20px;
    display: flex;
}

.header .user-info {
    display: flex;
    align-items: center;
}

.header .user-info img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.brand-logo-light {
    width: 90px;
    height: 70px;
    margin-left: 30px;
}

.content {
    display: flex;
    flex: 1;
    margin-top: 70px; /* height of the header */
}

.sidebar {
    position: fixed;
    top: 70px; /* height of the header */
    left: 0;
    width: 280px;
    height: calc(100% - 70px); /* height of the sidebar excluding header */
    background-color: var(--primary-color);
    color: var(--secondary-color);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.sidebar a {
    color: var(--secondary-color);
    text-decoration: none;
    margin: 60px 30px 0 30px;
    display: block;
}

.sidebar a:hover {
    background-color: var(--dark-neutral-color);
    padding: 10px;
}

.main-content {
    margin-left: 280px; /* width of the sidebar */
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    height: calc(100vh - 70px); /* height excluding the header */
}

.button {
    background-color: var(--primary-color);
    color: var(--light-neutral-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    left: 80vh;
}

.button:hover {
    background-color: var(--dark-neutral-color);
}

.button-add-event{
    background-color: #27AE60;
    color: #ddd;
    border: none;
    border-radius: 20px;
    margin-right: 0.5rem;
    width: 50px;
    height: 30px;
    font-size: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: var(--light-neutral-color);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: var(--dark-neutral-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
}

.form-group {
    margin: 15px 0;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.form-group button {
    background-color: var(--success-color);
    color: var(--light-neutral-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #218838;
}

.event-card {
    background-color: var(--secondary-color);
    padding: 15px;
    border: 1px solid #ddd;
    margin: 10px 0;
    border-radius: 5px;
}

.event-image {
    display: column;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    width: 200px;
    height: 200px;
}

